version: '3.9'

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5001:5000"
    environment:
      - PORT=5000
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80" # Host port 3000 -> Nginx port 80
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:5000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
